@import "bower_components/susy/sass/susy";

$susy: (
	columns: 12,
	gutters: 1,
	gutter-position: inside
);

$fontsize:13px;

body {
	font-family: "Inconsolata", "Menlo", "Consolas", monospace;
	font-size: $fontsize;
}

open100{
	@include container;
}

node{
	@include span(3 of 12); 
	$block_height: 160px;
	margin-top: 50px;
	.border{
		position: relative;
		.up, .down, .left, .right{
			position: absolute;
		}
		.up{
			top: -20px;
			width: 100%;
			text-align: center;
		}
		.down{
			bottom: -20px;
			width: 100%;
			text-align: center;
		}
		.left{
			top: 55px;
			left: -25px;
			width: 20px;
		}
		.right{
			top: 75px;
			right: -25px;
			width: 20px;
		}

	}
	.code{
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
		background-color: #505050;
		> .cover{
			position: absolute;
			z-index: 30;
			width: 100%;
			height: $block_height;
			background-color: rgba(255,255,255,0.1);
		}
		> .register{
			position: absolute;
			right:0;
			bottom:0;
			> div{
				float: right;
				color: white;
				width: 25px;
				padding: 2px;
				text-align: center;
			}
		}
		> aside{
			background-color: #419392;
			height: $block_height;
			width:25px;
			position: absolute;
			text-align: right;
			color: white;
			padding-top:6px;
			z-index: 10;
			> div{
				margin-right: 5px;
				> div.highlight{
					position: absolute;
					background-color: gray;
					width: 500px;
					z-index: -3;
				}
				> div.error{
					position: absolute;
					background-color: red;
					background-color: #f18069;
					right: 0px;
					padding-right: 5px;
					width: 25px;
					>.info{
						position: absolute;
						top: 0px;
						left: 30px;
						width: 120px;
						text-align: left;
						background-color: #fff3c5;
						color:#505050;
						display: none;
					}
					&:hover {
						> .info{
							display:inline;
						}
					}
				}
			}
		}
		textarea{
			background-color: rgba(0,0,0,0);
			height: $block_height;
			color: #fff3c5;
			width: 100%;
			box-sizing: border-box;
			padding: 5px;
			padding-left: 30px;
			font-family: "Inconsolata", "Menlo", "Consolas", monospace;
			font-size: $fontsize;
			resize: none;
			z-index: 10;
			position: relative;
		}
	}
}

