@import "bower_components/susy/sass/susy";

$susy: (
	columns: 12,
	gutters: 1,
	gutter-position: inside
);

body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
}

open100{
	@include container;
}

node{
	@include span(4 of 12); 
	$block_height: 160px;
	margin-top: 25px;
	.code{
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
		background-color: #505050;
		> aside{
			background-color: #419392;
			height: $block_height;
			width:25px;
			position: absolute;
			text-align: right;
			color: white;
			padding-top:6px;
			> div{
				margin-right: 5px;
				> div.error{
					position: absolute;
					background-color: red;
					background-color: #f18069;
					right: 0px;
					padding-right: 5px;
					width: 25px;
					>.info{
						position: absolute;
						top: 0px;
						left: 30px;
						width: 120px;
						text-align: left;
						background-color: #fff3c5;
						color:#505050;
						display: none;
					}
					&:hover {
						> .info{
							display:inline;
						}
					}
				}
			}
		}
		textarea{
			background-color: rgba(0,0,0,0);
			height: $block_height;
			color: #fff3c5;
			width: 100%;
			box-sizing: border-box;
			padding: 5px;
			padding-left: 30px;
			font-family: 'Courier New', Courier, monospace;
			font-size: 11px;
			resize: none;
		}
	}
}

