<button (click)="start()">
	<span *ngIf="running">Stop</span>
	<span *ngIf="!running">Start</span>
</button>
<input type="range" [(ngModel)]="interval" min="50" max="1000"/> {{interval}}ms
<strong>Open100 ASM Playground</strong>

<hr/>

<node *ngFor="#i of indices"
[clock]="clock" [running]="running" 
[upout]="ports[i][0]"
[downout]="ports[i][1]"
[leftout]="ports[i][2]"
[rightout]="ports[i][3]"
[upin]="ports[i - columns][1]"
[downin]="ports[i + columns][0]"
[leftin]="ports[i - 1][3]"
[rightin]="ports[i + 1][2]"></node>

